@import "minesweeper/minesweeper.css";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 32px;
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb0a3;
}