@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.minesweeper {
    --minesweeper-primary-background: #ff6973;
    --minesweeper-primary-foreground: #46425e;
    --minesweeper-secondary-background: #ffeecc;
    --minesweeper-secondary-foreground: #ffb0a3;

    --minesweeper-button-size: 48px;
    --minesweeper-border-width: 6px;

    --minesweeper-font-family: 'Press Start 2P', monospace;
    --minesweeper-font-size: calc(var(--minesweeper-button-size) / 2);

    --minesweeper-color-one: #6461c2;
    --minesweeper-color-two: #93d4b5;
    --minesweeper-color-three: #e39aac;
    --minesweeper-color-four: #634b7d;
    --minesweeper-color-five: #c45d9f;
    --minesweeper-color-six: #2ba9b4;

    border: var(--minesweeper-border-width) solid var(--minesweeper-primary-foreground);
    font-family: var(--minesweeper-font-family);
}

@media (max-width: 576px) {
    .minesweeper {
        --minesweeper-button-size: 32px;
        --minesweeper-border-width: 3px;
    }
}

.minesweeper > div {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: var(--minesweeper-border-width);
    background-color: var(--minesweeper-secondary-foreground);
}

.minesweeper.portrait > div {
    grid-template-columns: repeat(10, 1fr);
}

.minesweeper > div > button {
    width: var(--minesweeper-button-size);
    height: var(--minesweeper-button-size);
    background-color: var(--minesweeper-primary-background);
    border: none;
    box-shadow: 0 0 0 var(--minesweeper-border-width) var(--minesweeper-primary-foreground);
    font-family: var(--minesweeper-font-family);
    font-size: var(--minesweeper-font-size);
    color: var(--minesweeper-primary-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.minesweeper > div > button:hover {
    background-color: var(--minesweeper-primary-foreground);
    cursor: pointer;
}

.minesweeper > div > button:disabled {
    background-color: var(--minesweeper-secondary-background);
    box-shadow: none;
}

.minesweeper > div > button[class="1"] {
    color: var(--minesweeper-color-one);
}

.minesweeper > div > button[class="2"] {
    color: var(--minesweeper-color-two);
}

.minesweeper > div > button[class="3"] {
    color: var(--minesweeper-color-three);
}

.minesweeper > div > button[class="4"] {
    color: var(--minesweeper-color-four);
}

.minesweeper > div > button[class="5"] {
    color: var(--minesweeper-color-five);
}

.minesweeper > div > button[class="6"] {
    color: var(--minesweeper-color-six);
}